/* Universal Rules */
* {
	margin: 0px;
	padding: 0px;
}

/* Header Nav Styles */
.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 60px 120px;
	align-items: center;
}

.nav-list-container {
	display: flex;
	list-style-type: none;	
	align-items: center;
	gap: 34px;
}

/* .nav-container > h3 { */
/* 	color: #3A3A3A; */
/* 	font-family: Poppins; */
/* 	font-size: 24px; */
/* 	font-weight: 700; */
/* } */

/* .nav-container li { */
/* 	color: #3A3A3A; */
/* 	font-family: Poppins; */
/* 	font-size: 16px; */
/* 	font-weight: 600; */
/* } */
